body{
    background-image: url(./img.png);
}
#div{
    width: 660px;
    height: 460px;
    background-color: lightblue;
    margin: 250px;
    margin-left: 32%;
    text-align: center;
    justify-content: center;
}
h1{
    margin: 25px auto;
}
#button{
margin:25px auto;
}
